@media(max-width: 992px) {
    header {
        padding: 0 ;
    }

    

    /*header, .header-nav {
        height: 120
    }*/

    .kochwelt-logo {
        width:230px;
    }
    .social-media img{
        width: auto;
        height: 36px;
    }

    
}

@media(max-width: 768px){
    
    .hamburger-icon{
        width:76px;
    }
    header {
        height: 130px;    
    }

    .header-nav{
        height:130px;
        width:76px;
    }

    .desktop-menu{
        gap:8px;
    }

    

    .kochwelt-logo {
        width:220px;
        
    }

    .social-media img{
        width: auto;
        height: 30px;
        margin-right:0px;
        
    }

    
}

@media(max-width: 576px) {
    

    header {
        height: 96px;
    }

    .header-nav{
        height:96px;
    }

    .kochwelt-logo {
        width:190px;
        height:60px;
    }

    .footer{
        height:150px;
        padding-bottom: 35px;
    }
    
}

@media(max-width: 456px) {
    
    .header2{
        width:100%;
        max-width:100%;
    }
    

    header {
        height: 92px;
    }

    .header-nav{
        margin-right:30px;
        height:96px;
        width:50px;
        
    }

    .kochwelt-logo {
        width:190px;
        height:60px;
        margin-left:20px;
    }

    

    .social-media img{
        height: 20px;
        
    }
}


@media(max-width: 375px) {
    .header-nav{
        margin-right:0px;
        width:80px;
    }

    



    header {
        height: 88px;
    }

    .header-nav{
        height: 88px;
        width:80px;
    }

    .kochwelt-logo {
        width: 150px;
        height:50px;
    }
    
}

@media(max-width: 340px){
    

    .text-side{
        width:90%;
    }

    header {
        height: 80px;
    }

    .kochwelt-logo {
        width: 150px;
    }



    .social-media {
        display: flex;
        gap: 16px;
    }
    
    .social-media img{
        height: 20px;
    }
}