

body{
    margin: 0 auto;
    max-width:100%;
    width:100%;

}

header{
    display:flex;
    max-width:100%;
    width:100%;
    height:160px;
    background-color:#1a2e54;
    align-items: center;
    
}

header img{
    margin-left:50px;
    width:400px;
    height:120px;
    display:flex;
    
}



/* middle section ab hier*/


main-section{
display:flex;
flex-direction: column; 
align-items: center;
background-color:#0d2e4b;
color:#ffffff

}

.imgContainer{
    min-height:57vh;
    max-width:1920px;
    width:100%;
    margin-top:50px;
    margin-bottom:50px;
    text-align: center;
    flex: 100vh;
   
}

.myImages{
    
    height:230px;
    width:230px;
    border-radius: 15px;
    margin:8px;
    padding:5px;
}

.myImages:hover{
    outline:3px solid white;
    object-fit: cover;
    
}

.d_none{
    display:none !important;
    
}

.toggleOverlay{
    position:fixed;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    max-height:100vh;
    width:100%;
    max-width:100%;
    background-color: rgba(20, 78, 133, 0.76);
}

.overlay_closebutton{
    display:flex;
    
    
    width:35px;
    height:35px;
    border-radius: 8px;
}

.close_section{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-top:20px;
    margin-left:200px;
    height:60px;
    width:500px;
}

.innerdialog{
    
    height:700px;
    width:730px;
    border-radius: 15px;
    background-color: rgba(13, 7, 70, 0.663);

}



.filename{
    width:fit-content;
    
    
    border:2px solid red;
}

.big_Image{
    display:flex;
    height:400px;
    width:550px;
    margin-top:0px;
    
}

.skip_div{
    display:flex;
    justify-content: center;
    align-items: center;
    width:500px;
    height:200px;
    
}

.skip_arrowLeft{
    
    width:40px;
    height:40px;
    margin-left:20px;
}

.skip_arrowRight{
     
    width:40px;
    height:40px;
    transform:rotate(180deg);
    margin-right:20px;
}


.in_topsection{
    margin-left:90px;
    margin-top:80px;
    width:550px;
    height:380px;
    
}

.in_mainsection{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    
    width:300px;
    height:170px;

}





/*footer ab hier*/

footer{
    display:flex;
    justify-content: center;
    align-items: center;
    height:238px;
    width:100%;
    background-color:#1a2e54;
}

footer img{
    width:120px;
    height:120px;
}


/* breakpoints ab hier*/

@media(max-width:796px){
.innerdialog{
height:650px;
width: 630px;
}

.myImages{
    width:138px;
    height:138px;
}


.big_Image{
    height:330px;
    width:450px;   
}

.close_section{
    width:415px;
    margin-left:180px;
}

.in_topsection{
    margin-top:60px;
}

.in_mainsection{
    height:120px;
}
}

@media(max-width:680px){
    .innerdialog{
        width:490px;
        height:550px;
    }

    .myImages{
        width:135px;
        height:135px;
    }


    .close_section{
        width:400px;
        margin-left:70px;
    }

    

    .big_Image{
        height:260px;
        width:350px;
          
    }

    .in_topsection{
        margin-top:30px;
        margin-left:70px;
        height:355px;
        width:505px;
    }

    .in_mainsection{
        height:30px;
    }

}

@media(max-width:532px){

    .headImage{
        width:270px;
        height:60px;
        margin-left:25px;
        
    }
    .innerdialog{
        width:400px;
        height:480px;
    }

    .myImages{
        width:110px;
        height:110px;
    }


    .close_section{
        width:300px;
    }

    .big_Image{
        height:230px;
        width:300px;
          
    }

    .in_topsection{
        margin-top:30px;
        margin-left:50px;
        height:300px;
        width:335px;
    }

    .in_mainsection{
        height:30px;
    }

}

@media(max-width:435px){
    h2{
        font-size:19px;
    }
    .innerdialog{
        width:280px;
        height:380px;
    }


    .myImages{
        
        width:105px;
        height:105px;
        padding:0px;
    }


    .close_section{
        width:230px;
        margin-left:30px;
        font-size:12px;
    }

    .big_Image{
        height:180px;
        width:230px;
          
    }

    .in_topsection{
        margin-top:30px;
        margin-left:25px;
        height:220px;
        width:270px;
    }

    .in_mainsection{
        height:15px;
        width:280px;
    }

    .overlay_closebutton{
        width:30px;
        height:30px;
    }

    .skip_arrowLeft{
        width:30px;
        height:30px;
    }

    .skip_arrowRight{
        width:30px;
        height:30px;
    }

}